body {
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    padding-left: 3em;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-top: 1em;
    margin: 0px;
    overflow: hidden;
    font: 14px/20px 'Helvetica Neue Light', HelveticaNeue-Light, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

#controls {
    height: 3em;
    width: 100%;
}

#viewer-ui {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
    
}

#ui {

}

#viewer {
    flex-grow: 1;
}

#error {
    height: 3em;
}


canvas {
    cursor: move;
}

