* {
    font: 14px/20px 'Helvetica Neue Light', HelveticaNeue-Light, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    padding-left: 3em;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-top: 1em;
    margin: 0px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#controls {
    height: 3em;
    width: 100%;
}

#viewer-ui {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
    
}

#selectors {
    display: flex;
    flex-direction: row;
    margin-bottom: 2em;
}

#selectors select {
    outline: none;
    width: 8em;
    margin-left: 1em;
}

#selectors select:first-child {
    margin-left: 0;
}

#ui {

}

.ui-value {
    width: 5em;
}

.ui-input {
    position: relative;
    top: 0.1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.ui-name {
    text-align: right;
}

#viewer {
    flex-grow: 1;
    position: relative;
}

#viewer>div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#viewer canvas {
    width: 100%;
    height: 100%;
}

#message {
    height: 2em;
}


canvas {
    cursor: move;
}

